@font-face {
    font-family: 'Jeonju Craft Mj';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/JeonjuCraftMj/JeonjuCraftMj-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JeonjuCraftMj/JeonjuCraftMj-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JeonjuCraftMj/JeonjuCraftMj-Light.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JeonjuCraftMj/JeonjuCraftMj-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Jeonju Craft Mj';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/JeonjuCraftMj/JeonjuCraftMj-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JeonjuCraftMj/JeonjuCraftMj-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JeonjuCraftMj/JeonjuCraftMj-Bold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/JeonjuCraftMj/JeonjuCraftMj-Bold.ttf') format('truetype');
}
